<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/robot.png" alt="Robot" class="portrait" />

        {{!-- more content ... --}}
    </div>

    {{>footer}}
</body>

</html>